USE [master]
GO
/****** Object:  Database [TECNOMEDICA]    Script Date: 16/11/2022 10:30:28 p. m. ******/
CREATE DATABASE [TECNOMEDICA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TECNOMEDICA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECNOMEDICA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TECNOMEDICA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECNOMEDICA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TECNOMEDICA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TECNOMEDICA]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_CLIENTE] [float] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[SECTOR] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[TIPO_ENTIDAD] [nvarchar](50) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[ZONA] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](100) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[CANTIDAD] [money] NULL,
	[DESCUENTO] [money] NULL,
	[ID_DETALLE] [float] NOT NULL,
	[ID_PRODUCTO] [float] NULL,
	[ID_VENTAS] [float] NULL,
	[MONTO] [money] NULL,
	[PRECIO_VENTA] [money] NULL,
 CONSTRAINT [PK_DETALLE_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_EMPLEADO] [float] NOT NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[ID_MARCA] [float] NOT NULL,
	[MARCA] [nvarchar](50) NULL,
	[ORIGEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[ID_PRODUCTO] [float] NOT NULL,
	[COSTO_UNITARIO] [money] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[ID_PP] [float] NULL,
	[PRECIO_VENTA] [money] NULL,
	[PRODUCTO] [nvarchar](100) NULL,
	[STOCK] [float] NULL,
	[VENCIMIENTO] [nvarchar](50) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productoproveedor]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productoproveedor](
	[ID_MARCA] [float] NULL,
	[ID_PP] [float] NOT NULL,
	[ID_PROVEEDOR] [float] NULL,
 CONSTRAINT [PK_PRODUCTO_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[ID_PROVEEDOR] [float] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PAIS] [nvarchar](50) NULL,
	[PROVEEDOR] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 16/11/2022 10:30:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[FECHA_REGISTRO] [datetime] NULL,
	[ID_CLIENTE] [float] NULL,
	[ID_EMPLEADO] [float] NULL,
	[ID_VENTAS] [float] NOT NULL,
	[MONTO_VENTA] [numeric](18, 0) NULL,
	[NUM_FACTURA] [nvarchar](50) NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_VENTAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([ID_CLIENTE], [EMAIL], [NOMBRE], [SECTOR], [TELEFONO], [TIPO_ENTIDAD], [DEPARTAMENTO], [ZONA], [DIRECCION]) VALUES (1, NULL, N'Dr. Moises Hernandez', N'Privado', N'7544-8855', N'Natural', N'San Salvador', N'Central', NULL)
INSERT [dbo].[Cliente] ([ID_CLIENTE], [EMAIL], [NOMBRE], [SECTOR], [TELEFONO], [TIPO_ENTIDAD], [DEPARTAMENTO], [ZONA], [DIRECCION]) VALUES (2, NULL, N'Hospital San Francisco, San Miguel ', N'Privado', N'0', N'Jurídica', N'San Miguel', N'Oriental', N'Hospital San Francisco, Av. Roosevelt Norte #408, Barrio San Felipe San Miguel, CA-1 408, San Miguel')
INSERT [dbo].[Cliente] ([ID_CLIENTE], [EMAIL], [NOMBRE], [SECTOR], [TELEFONO], [TIPO_ENTIDAD], [DEPARTAMENTO], [ZONA], [DIRECCION]) VALUES (3, NULL, N'Hospital Diagnostico- Colonia Medica', N'Privado', N'2505 5700', N'Jurídica', N'San Salvador', N'Central', N'Diagonal Luis E. Vásquez No. 426')
GO
INSERT [dbo].[DetalleVenta] ([CANTIDAD], [DESCUENTO], [ID_DETALLE], [ID_PRODUCTO], [ID_VENTAS], [MONTO], [PRECIO_VENTA]) VALUES (10.0000, 0.0000, 1, 51, 1, 550.0000, 55.0000)
INSERT [dbo].[DetalleVenta] ([CANTIDAD], [DESCUENTO], [ID_DETALLE], [ID_PRODUCTO], [ID_VENTAS], [MONTO], [PRECIO_VENTA]) VALUES (10.0000, 0.0000, 2, 37, 1, 850.0000, 85.0000)
INSERT [dbo].[DetalleVenta] ([CANTIDAD], [DESCUENTO], [ID_DETALLE], [ID_PRODUCTO], [ID_VENTAS], [MONTO], [PRECIO_VENTA]) VALUES (5.0000, 0.0000, 3, 12, 2, 225.0000, 45.0000)
GO
INSERT [dbo].[Empleado] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (1, N'Fernandez Casas', N'Maria.Fernandez@Tecnomedica.sv', N'Maria Julia', N'7822-0099')
INSERT [dbo].[Empleado] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (2, N'Hernandez Lopez', N'Carolina.Hernandez@Tecnomedica.sv', N'Carolina Elizbeth', N'7390-7462')
INSERT [dbo].[Empleado] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (3, N'Martinez Ramirez', N'Luis.Martinez@Tecnomedica.sv', N'Luis Fernando', N'7348-3884')
GO
INSERT [dbo].[Marcas] ([ID_MARCA], [MARCA], [ORIGEN]) VALUES (1, N'OSD', N'FRANCIA')
INSERT [dbo].[Marcas] ([ID_MARCA], [MARCA], [ORIGEN]) VALUES (2, N'GMREIS', N'BRASIL')
INSERT [dbo].[Marcas] ([ID_MARCA], [MARCA], [ORIGEN]) VALUES (3, N'HPBIO', N'BRASIL')
GO
INSERT [dbo].[producto] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (1, 20.0000, N'KIT DE MANIFOLD DE 3 VIAS 
V-SP3PK ', 5, 55.0000, N'KIT DE MANIFOLD DE 3 VIAS', 200, NULL)
INSERT [dbo].[producto] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (2, 10.0000, N'MANIFOLD DE 2 VIAS 
V-SP2P', 5, 25.0000, N'MANIFOLD DE 2 VIAS', 100, NULL)
INSERT [dbo].[producto] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (3, 10.0000, N'MANIFOLD DE 3 VIAS 
V-SP3P', 5, 25.0000, N'MANIFOLD DE 3 VIAS', 125, NULL)
GO
INSERT [dbo].[productoproveedor] ([ID_MARCA], [ID_PP], [ID_PROVEEDOR]) VALUES (1, 1, 2)
INSERT [dbo].[productoproveedor] ([ID_MARCA], [ID_PP], [ID_PROVEEDOR]) VALUES (2, 2, 2)
INSERT [dbo].[productoproveedor] ([ID_MARCA], [ID_PP], [ID_PROVEEDOR]) VALUES (3, 3, 2)
GO
INSERT [dbo].[proveedor] ([ID_PROVEEDOR], [EMAIL], [PAIS], [PROVEEDOR], [TELEFONO]) VALUES (1, N'hosmed2019@gmail.com', N'Estados Unidos', N'HOSMED', N'4433553797')
INSERT [dbo].[proveedor] ([ID_PROVEEDOR], [EMAIL], [PAIS], [PROVEEDOR], [TELEFONO]) VALUES (2, N'dimehoshn@gmail.com', N'Honduras', N'DIMEHOS', N'22858977')
INSERT [dbo].[proveedor] ([ID_PROVEEDOR], [EMAIL], [PAIS], [PROVEEDOR], [TELEFONO]) VALUES (3, N'hamiltonc@gmail.com', N'Estados Unidos', N'HAMILTON', N'3050553377')
GO
INSERT [dbo].[ventas] ([FECHA_REGISTRO], [ID_CLIENTE], [ID_EMPLEADO], [ID_VENTAS], [MONTO_VENTA], [NUM_FACTURA]) VALUES (CAST(N'2019-01-12T00:00:00.000' AS DateTime), 2, 1, 1, CAST(1400 AS Numeric(18, 0)), N'F0001')
INSERT [dbo].[ventas] ([FECHA_REGISTRO], [ID_CLIENTE], [ID_EMPLEADO], [ID_VENTAS], [MONTO_VENTA], [NUM_FACTURA]) VALUES (CAST(N'2019-01-14T00:00:00.000' AS DateTime), 9, 3, 2, CAST(225 AS Numeric(18, 0)), N'F0002')
INSERT [dbo].[ventas] ([FECHA_REGISTRO], [ID_CLIENTE], [ID_EMPLEADO], [ID_VENTAS], [MONTO_VENTA], [NUM_FACTURA]) VALUES (CAST(N'2019-01-16T00:00:00.000' AS DateTime), 12, 3, 3, CAST(250 AS Numeric(18, 0)), N'F0003')
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH NOCHECK ADD  CONSTRAINT [FK_DETALLE_VENTAS_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[producto] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DETALLE_VENTAS_PRODUCTO]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH NOCHECK ADD  CONSTRAINT [FK_DETALLE_VENTAS_VENTAS] FOREIGN KEY([ID_VENTAS])
REFERENCES [dbo].[ventas] ([ID_VENTAS])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DETALLE_VENTAS_VENTAS]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRODUCTO_PROVEEDOR] FOREIGN KEY([ID_PP])
REFERENCES [dbo].[productoproveedor] ([ID_PP])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_PRODUCTO_PRODUCTO_PROVEEDOR]
GO
ALTER TABLE [dbo].[productoproveedor]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PROVEEDOR_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[Marcas] ([ID_MARCA])
GO
ALTER TABLE [dbo].[productoproveedor] CHECK CONSTRAINT [FK_PRODUCTO_PROVEEDOR_MARCA]
GO
ALTER TABLE [dbo].[productoproveedor]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PROVEEDOR_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[proveedor] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[productoproveedor] CHECK CONSTRAINT [FK_PRODUCTO_PROVEEDOR_PROVEEDOR]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Cliente] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_VENTAS_CLIENTES]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[Empleado] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_VENTAS_EMPLEADO]
GO
USE [master]
GO
