USE [master]
GO
/****** Object:  Database [TECNOMEDIC_DW]    Script Date: 18/11/2022 02:10:01 p. m. ******/
CREATE DATABASE [TECNOMEDIC_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TECNOMEDIC_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECNOMEDIC_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TECNOMEDIC_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TECNOMEDIC_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TECNOMEDIC_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TECNOMEDIC_DW]
GO
/****** Object:  Table [dbo].[DIM_CLIENTE]    Script Date: 18/11/2022 02:10:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[ID_CLIENTE] [float] NOT NULL,
	[EMAIL] [nchar](50) NULL,
	[NOMBRE] [nchar](100) NULL,
	[SECTOR] [nchar](50) NULL,
	[TELEFONO] [nchar](50) NULL,
	[TIPO_ENTIDAD] [nchar](50) NULL,
	[DEPARTAMENTO] [nchar](50) NULL,
	[ZONA] [nchar](50) NULL,
	[DIRECCION] [nchar](100) NULL,
 CONSTRAINT [PK_DIM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_EMPLEADO]    Script Date: 18/11/2022 02:10:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EMPLEADO](
	[ID_EMPLEADO] [float] NOT NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIM_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCTO]    Script Date: 18/11/2022 02:10:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCTO](
	[ID_PRODUCTO] [float] NOT NULL,
	[COSTO_UNITARIO] [money] NULL,
	[DESCRIPCION] [nchar](100) NULL,
	[ID_PP] [float] NULL,
	[PRECIO_VENTA] [money] NULL,
	[PRODUCTO] [nchar](100) NULL,
	[STOCK] [float] NULL,
	[VENCIMIENTO] [date] NULL,
 CONSTRAINT [PK_DIM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIEMPO]    Script Date: 18/11/2022 02:10:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIEMPO](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[trimestre] [int] NULL,
	[semana] [int] NULL,
	[dia] [int] NULL,
	[dsemana] [int] NULL,
	[nmes] [varchar](50) NULL,
	[ntrimestre] [varchar](50) NULL,
	[nsemana] [varchar](50) NULL,
	[ndia] [varchar](50) NULL,
 CONSTRAINT [PK__DIM_TIEM__40F9A207D75C1779] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_VENTAS]    Script Date: 18/11/2022 02:10:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_VENTAS](
	[ID_CLIENTE] [float] NULL,
	[ID_PRODUCTO] [float] NULL,
	[codigo] [int] NULL,
	[PRECIO] [money] NULL,
	[STOCK] [int] NULL,
	[ID_EMPLEADO] [float] NULL,
	[CANTIDAD] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DIM_CLIENTE] ([ID_CLIENTE], [EMAIL], [NOMBRE], [SECTOR], [TELEFONO], [TIPO_ENTIDAD], [DEPARTAMENTO], [ZONA], [DIRECCION]) VALUES (1, NULL, N'Dr. Moises Hernandez                                                                                ', N'Privado                                           ', N'7544-8855                                         ', N'Natural                                           ', N'San Salvador                                      ', N'Central                                           ', NULL)
GO
INSERT [dbo].[DIM_EMPLEADO] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (1, N'Fernandez Casas', N'Maria.Fernandez@Tecnomedica.sv', N'Maria Julia', N'7822-0099')
INSERT [dbo].[DIM_EMPLEADO] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (2, N'Hernandez Lopez', N'Carolina.Hernandez@Tecnomedica.sv', N'Carolina Elizbeth', N'7390-7462')
INSERT [dbo].[DIM_EMPLEADO] ([ID_EMPLEADO], [APELLIDO], [EMAIL], [NOMBRE], [TELEFONO]) VALUES (3, N'Martinez Ramirez', N'Luis.Martinez@Tecnomedica.sv', N'Luis Fernando', N'7348-3884')
GO
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (1, 20.0000, N'KIT DE MANIFOLD DE 3 VIAS 
V-SP3PK                                                                 ', 5, 55.0000, N'KIT DE MANIFOLD DE 3 VIAS                                                                           ', 200, NULL)
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (2, 10.0000, N'MANIFOLD DE 2 VIAS 
V-SP2P                                                                         ', 5, 25.0000, N'MANIFOLD DE 2 VIAS                                                                                  ', 100, NULL)
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [COSTO_UNITARIO], [DESCRIPCION], [ID_PP], [PRECIO_VENTA], [PRODUCTO], [STOCK], [VENCIMIENTO]) VALUES (3, 10.0000, N'MANIFOLD DE 3 VIAS 
V-SP3P                                                                         ', 5, 25.0000, N'MANIFOLD DE 3 VIAS                                                                                  ', 125, NULL)
GO
SET IDENTITY_INSERT [dbo].[DIM_TIEMPO] ON 

INSERT [dbo].[DIM_TIEMPO] ([codigo], [fecha], [anio], [mes], [trimestre], [semana], [dia], [dsemana], [nmes], [ntrimestre], [nsemana], [ndia]) VALUES (1, CAST(N'2019-01-12' AS Date), 2019, 1, 1, 2, 12, 7, N'January', N'1', N'2', N'12')
INSERT [dbo].[DIM_TIEMPO] ([codigo], [fecha], [anio], [mes], [trimestre], [semana], [dia], [dsemana], [nmes], [ntrimestre], [nsemana], [ndia]) VALUES (2, CAST(N'2019-01-13' AS Date), 2019, 1, 1, 3, 13, 1, N'January', N'1', N'3', N'13')
INSERT [dbo].[DIM_TIEMPO] ([codigo], [fecha], [anio], [mes], [trimestre], [semana], [dia], [dsemana], [nmes], [ntrimestre], [nsemana], [ndia]) VALUES (3, CAST(N'2019-01-14' AS Date), 2019, 1, 1, 3, 14, 2, N'January', N'1', N'3', N'14')
GO
SET IDENTITY_INSERT [dbo].[DIM_TIEMPO] OFF
GO
INSERT [dbo].[FACT_VENTAS] ([ID_CLIENTE], [ID_PRODUCTO], [codigo], [PRECIO], [STOCK], [ID_EMPLEADO], [CANTIDAD]) VALUES (14, 3, 237, 25.0000, 125, 4, 10)
INSERT [dbo].[FACT_VENTAS] ([ID_CLIENTE], [ID_PRODUCTO], [codigo], [PRECIO], [STOCK], [ID_EMPLEADO], [CANTIDAD]) VALUES (22, 33, 242, 85.0000, 359, 2, 2)
INSERT [dbo].[FACT_VENTAS] ([ID_CLIENTE], [ID_PRODUCTO], [codigo], [PRECIO], [STOCK], [ID_EMPLEADO], [CANTIDAD]) VALUES (10, 28, 244, 65.0000, 455, 3, 5)
GO
/****** Object:  Index [IX_FACT_VENTAS]    Script Date: 18/11/2022 02:10:02 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_FACT_VENTAS] ON [dbo].[FACT_VENTAS]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_VENTAS]  WITH NOCHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[DIM_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[FACT_VENTAS] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[FACT_VENTAS]  WITH NOCHECK ADD  CONSTRAINT [FK_FACT_VENTAS_DIM_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[DIM_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[FACT_VENTAS] CHECK CONSTRAINT [FK_FACT_VENTAS_DIM_EMPLEADO]
GO
ALTER TABLE [dbo].[FACT_VENTAS]  WITH NOCHECK ADD  CONSTRAINT [fk_producto] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[FACT_VENTAS] CHECK CONSTRAINT [fk_producto]
GO
ALTER TABLE [dbo].[FACT_VENTAS]  WITH NOCHECK ADD  CONSTRAINT [fk_tiempo] FOREIGN KEY([codigo])
REFERENCES [dbo].[DIM_TIEMPO] ([codigo])
GO
ALTER TABLE [dbo].[FACT_VENTAS] CHECK CONSTRAINT [fk_tiempo]
GO
USE [master]
GO
